<!-- =============================================================================================================== -->
<!-- =============================================== Daniele Salvagni - Hypermedia Applications (Web and Multimedia) -->

<footer class="footer">
  <div class="container">
    <div class=row>
      <!-- ~~~ Footer-LOGO ~~~ -->
      <div class="col-sm-4">
        <img class="center-block footer-logo voffset3" src="img/logo-gray-small.png" alt="Lion Gym"/>
      </div>
      <!-- ~~~ Footer-NEWSLETTER ~~~ -->
      <div class="col-sm-4"><h4>Get updates</h4>
        <small>Register to our <a href="#">newsletter</a> go receive news about our gym, new courses and promotions.
          You will also instantly receive a coupon valid for a free trial lesson!
        </small>
      </div>
      <!-- ~~~ Footer-QUICKCONTACTS ~~~ -->
      <div class="col-sm-4"><h4>Get in touch</h4>
        <small>
          <i class="fa fa-home"></i>&nbsp;&nbsp;Piazza Leonardo da Vinci, 32, 20133 Milano<br/>
          <i class="fa fa-phone"></i>&nbsp;&nbsp;(+39) 02 654321<br/>
          <i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:info@liongym.com">info@liongym.com</a><br/>
        </small>
      </div>
    </div>
  </div>
</footer>
