<!-- =============================================================================================================== -->
<!-- =============================================== Daniele Salvagni - Hypermedia Applications (Web and Multimedia) -->

<div class="container-fluid map-container">
  <map center="{{ contacts.position }}" zoom="14" disable-default-u-i="true" scrollwheel="false"
       styles='[{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":60}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"visibility":"on"},{"lightness":30}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ef8c25"},{"lightness":40}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#b6c54c"},{"lightness":40},{"saturation":-40}]},{}]'>
    <marker position="{{ contacts.position }}" title="Lion Gym"></marker>
  </map>
</div>

<div class="container voffset5">

  <div class="col-sm-12 text-center"><h2>Contacts</h2>
    <small>
      <i class="fa fa-home"></i>&nbsp;&nbsp;{{ contacts.address }}<br/>
      <i class="fa fa-phone"></i>&nbsp;&nbsp;{{ contacts.phone }}<br/>
      <i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="{{ contacts.email }}">{{ contacts.email }}</a><br/>
    </small>
  </div>

</div>
