<!-- =============================================================================================================== -->
<!-- =============================================== Daniele Salvagni - Hypermedia Applications (Web and Multimedia) -->

<div class="container voffset4">

  <div class="row text-center">
    <h2>Choose your package</h2>
  </div><br>

  <div class="row row-centered">

    <!-- Pack 1-->
    <div class="col-md-3 col-sm-4 col-xs-12 col-centered voffset5">
      <div class="pricing_header">
        <h3>1M</h3>

        <div class="space"></div>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>&nbsp; 24/7 Gym Access</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>&nbsp; 1 Month</li>
        <li class="list-group-item off"><span class="glyphicon glyphicon-remove"></span>&nbsp; All Courses Included</li>
        <li class="list-group-item off"><span class="glyphicon glyphicon-remove"></span>&nbsp; Personal Trainer</li>
      </ul>
      <div class="try">
        <p class="price">$ 32</p>
        <a class="btn btn-success" href="" type="button">Join</a>
      </div>
    </div>

    <!-- Pack 2-->
    <div class="col-md-3 col-sm-4 col-xs-12 col-centered voffset5">
      <div class="pricing_header">
        <h3>6M</h3>

        <div class="space"></div>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>&nbsp; 24/7 Gym Access</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>&nbsp; 6 Month</li>
        <li class="list-group-item off"><span class="glyphicon glyphicon-remove"></span>&nbsp; All Courses Included</li>
        <li class="list-group-item off"><span class="glyphicon glyphicon-remove"></span>&nbsp; Personal Trainer</li>
      </ul>
      <div class="try">
        <p class="price">$ 149</p>
        <a class="btn btn-success" href="" type="button">Join</a>
      </div>
    </div>

    <!-- Pack 3-->
    <div class="col-md-3 col-sm-4 col-xs-12 col-centered voffset5">
      <div class="pricing_header">
        <h3>6M Courses</h3>

        <div class="space"></div>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>&nbsp; 24/7 Gym Access</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>&nbsp; 6 Month</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>&nbsp; All Courses Included</li>
        <li class="list-group-item off"><span class="glyphicon glyphicon-remove"></span>&nbsp; Personal Trainer</li>
      </ul>
      <div class="try">
        <p class="price">$ 199</p>
        <a class="btn btn-success" href="" type="button">Join</a>
      </div>
    </div>

    <!-- Pack 4-->
    <div class="col-md-3 col-sm-4 col-xs-12 col-centered voffset5">
      <div class="pricing_header">
        <h3>6M Personal</h3>

        <div class="space"></div>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>&nbsp; 24/7 Gym Access</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>&nbsp; 6 Month</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>&nbsp; All Courses Included</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>&nbsp; Personal Trainer</li>
      </ul>
      <div class="try">
        <p class="price">$ 259</p>
        <a class="btn btn-success" href="" type="button">Join</a>
      </div>
    </div>

  </div>

</div>
